body
{
	background-image: url(http://www.fondosni.com/images/2012-10-22/Fondo%20verde%20con%20blanco%20y%20otros-616009.jpg);
	font-family: "Helvetica" ,Arial; 
	

}
#contenido
{
	width: 960px;
	margin:0 auto;
	text-align: center;
}
h1
{
	color: #FFF;

}
h2
{
	color: #1d1d1d;
	text-align: center;

}
nav ul li
{
	display: inline-block;
	margin-right: 20px;
	color: #1d1d1d;
	cursor: pointer;
	padding: 5px;

	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
}
nav ul li:hover
{
	background-color: #1d1d1d;
	color: #e44e2d;
	border-radius: 5px;
}
nav ul li a
{
	
	text-decoration: none;
}
#textoPr
{
	width: 600px;
	height: 300px;
	background-image: url(http://fincayra.files.wordpress.com/2008/06/verde1.jpg);
	color: #1d1d1d;
	margin:0 auto;
	text-align: left;
	border-radius: 20px;
	padding: 20px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
}
a
{
	color: #FFF;
	font-weight: bold;
}
#miCanvas
{
	position: absolute;
	left: 0px;
	bottom: -260px;
}
meter
{
	background-color: #FFF;
	padding: 5px;
	color: #e44e2d;
	margin-left: 20px;
	width: 200px;
}
#textoPr2
{
	width: 600px;
	height: 400px;
	background-image: url(http://fincayra.files.wordpress.com/2008/06/verde1.jpg);
	color: #fff;
	margin:0 auto;
	text-align: center;
	border-radius: 20px;
	padding: 20px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
}
#imagen
{
	width: 150px;
	height: 150px;
	text-align: left;
	border-radius: 20px;

}
#textoPr3
{
	width: 600px;
	height: 590px;
	background-image: url(http://fincayra.files.wordpress.com/2008/06/verde1.jpg);
	color: #fff;
	margin:0 auto;
	text-align: left;
	border-radius: 20px;
	padding: 20px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
}
#textoPr4
{
	width: 600px;
	height: 200px;
	background-image: url(http://fincayra.files.wordpress.com/2008/06/verde1.jpg);
	color: #fff;
	margin:0 auto;
	text-align: left;
	border-radius: 20px;
	padding: 20px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
}